.identity__form-input {
  padding: 0 0 13px;
  width: 100%;
  background-color: black;
  border: none;
  border-bottom: 2px solid #cccccc;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}

@media screen and (max-width: 768px) {
  .identity__form-input {
    padding: 0 0 10px;
  }
}
