.user__avatar-container {
  height: 120px;
  width: 120px;
  margin-right: 26.25px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .user__avatar-container {
    align-items: center;
    margin: 0 auto;
  }
}
