.identity__header {
  margin: 0 auto 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .identity__header {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 40px;
  }
}
