@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

/* theme for webpage*/
@import url(./blocks/theme/dark/theme_dark.css);

/* PAGE */
@import url(./blocks/page/page.css);

@import url(./blocks/page-content/page-content.css);

/* HEADER */
@import url(./blocks/header/header.css);

/* CONTENT */
@import url(./blocks/content/content.css);

/* USER */
@import url(./blocks/user/user.css);
@import url(./blocks/user/__avatar/user__avatar.css);

@import url(./blocks/user/__avatar-container/user__avatar-container.css);
@import url(./blocks/user/__avatar-overlay/user__avatar-overlay.css);
@import url(./blocks/user/__avatar-icon/user__avatar-icon.css);

@import url(./blocks/user/__name/user__name.css);
@import url(./blocks/user/__job/user__job.css);
@import url(./blocks/user/__header/user__header.css);
@import url(./blocks/user/__info/user__info.css);

@import url(./blocks/user/__edit-button/user__edit-button.css);
@import url(./blocks/user/__add-button/user__add-button.css);

/* FOOTER */
@import url(./blocks/footer/footer.css);

/* GALLERY */
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__item/gallery__item.css);
@import url(./blocks/gallery/__item-photo/gallery__item-photo.css);
@import url(./blocks/gallery/__item-description/gallery__item-description.css);
@import url(./blocks/gallery/__item-name/gallery__item-name.css);
@import url(./blocks/gallery/__like-button/gallery__like-button.css);
@import url(./blocks/gallery/__like-button/_active/gallery__like-button_active.css);
@import url(./blocks/gallery/__remove-button/gallery__remove-button.css);

/* POPUP */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form-header/popup__form-header.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);

@import url(./blocks/popup/__img-container/popup__img-container.css);
@import url(./blocks/popup/__img-figure/popup__img-figure.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__img-card/popup__img-card.css);
@import url(./blocks/popup/__img-caption/popup__img-caption.css);

@import url(./blocks/popup/_zoom_img/popup_zoom_img.css);

@import url(./blocks/popup/__button/_inactive/popup__button_disabled.css);

/* delete and confirm */
@import url(./blocks/popup/__form/_confirm/popup__form_confirm.css);
@import url(./blocks/popup/__form-header/_confirm/popup__form-header_confirm.css);

@import url(./blocks/gallery/__like-container/gallery__like-container.css);
@import url(./blocks/gallery/__like-counter/gallery__like-counter.css);

.identity__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 358px;
  width: 358px;
  margin: 20px auto 0;
}

@media screen and (max-width: 768px) {
  .identity__container {
    max-width: 260px;
    width: 260px;
    margin: 0 auto 0;
  }
}

.identity__header {
  margin: 0 auto 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .identity__header {
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto 40px;
  }
}

.identity__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.identity__form-input {
  padding: 0 0 13px;
  width: 100%;
  background-color: black;
  border: none;
  border-bottom: 2px solid #cccccc;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
}

.identity__input-error {
  width: 100%;
  box-sizing: border-box;
  min-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffd0dd;

  display: block;
  font-weight: 400;
  line-height: 12px;
  margin: 0;
  padding: 5px 0 0;
}

.identity__form-button {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-radius: 2px;
  margin: 186px auto 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;

  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .identity__form-button {
    margin: 173px auto 20px;
  }
}

.identity__form-button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.identity__form-button:disabled {
  opacity: 0.5;
}

.identity__signin-ask {
  width: 100%;
  min-height: 17px;
  margin: 0 auto 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .identity__signin-ask {
    margin: 0 auto 40px;
  }
}

.identity__signin-link {
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.5s ease-in-out;
}

.identity__signin-link:hover {
  cursor: pointer;
  opacity: 0.6;
}
