.header {
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    min-height: 56px;
    margin-bottom: 38.25px;
  }
}

.header__logo {
  height: 33px;
  width: 142px;
  background-size: 142px 33px;
  background-image: url(../../images/logo/logo-white.svg);
  background-repeat: no-repeat;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .header__logo {
    height: 24.4px;
    width: 103.74px;
    margin-left: 30px;
    background-size: 103.74px 24.4px;
  }
}

.header__user {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header__user {
    margin: 0 30px 0 0;
    display: block;
  }
}

.header__email {
  padding: 0;
  margin: 0 24px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  text-align: right;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .header__email {
    margin: 0;
    display: block;
    /* font size before menu creation */
    font-size: 14px;
  }
}

.header__button {
  max-height: 22px;
  margin-top: 6px;
  width: auto;
  padding: 0;
  border: none;
  background-color: none;
  background-color: #000000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: right;
  color: #ffffff;
  transition: opacity 0.5s ease-in-out;
}

.header__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__button {
    margin-top: 6px;
    display: block;
    /* font size before menu creation */
    font-size: 14px;
  }
}
