.header {
  width: 100%;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 40px;
  box-sizing: border-box;

  background-image: url(../../images/logo/logo-white.svg);
  background-size: 142px 33px;
  background-repeat: no-repeat;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    min-height: 56px;
    background-size: 103.74px 24.4px;
    background-position: 27px top;
    margin-bottom: 38.25px;
  }
}
